.container {
	display: flex;
	justify-content: center;
}

.data-description {
	border-radius: 10px;
	margin-top: 2rem;
	padding: .5rem 1rem;
}

.data-description__icon {
	font-size: 80%;
	margin-right: .5rem;
}
